# ------------------------
# NextAuth.js Configuration
# ------------------------

NEXTAUTH_SECRET= 
NEXTAUTH_URL=

# ------------------------
# OAuth Providers
# ------------------------

GOOGLE_CLIENT_ID= 
GOOGLE_CLIENT_SECRET= 

# ------------------------
# Database
# ------------------------

DATABASE_URL= mysql://j053l1pfmyh3jxog0t9a:pscale_pw_qxrFWD1hkmx6ZvQm4oFwcr9q3nyiGWugM1GPimAYHq3@ap-south.connect.psdb.cloud/similarity-api?sslaccept=strict

# ------------------------
# OpenAI
# ------------------------
OPENAI_API_KEY=

# ------------------------
# Redis
# ------------------------
REDIS_URL=
REDIS_SECRET=